#formContainer {
  display: flex;
  justify-content:center;
  padding: 2em;
}

form {
  width: 35%;
  padding: 0.5em;
  border: 1px solid gray;
  background-color: rgba(13, 129, 91, 0.596);
  border-radius: 5px;
  text-align: center;
}

#success {
  width: 45%;
  height: 50%;
  padding: 10%;
  border: 1px solid gray;
  background-color: rgba(13, 129, 91, 0.596);
  border-radius: 5px;
  
}

#erroralert {
  display: flex;
  justify-content:center;
  padding: 2%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 75%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  padding:5%;
  background-color: rgba(4, 54, 38, 0.596);
  color: white;
  border: 1px solid rgba(2, 49, 34, 0.664);
  border-radius: 5px;
  cursor:pointer;
  margin-top: 30%;
}
