/*@import "badcolors.css";*/
@import "fonts.css";



/*Home Page*/

/*Header Information */

header h1{
    font-weight: 700;
    padding:10px;
    font-family: 'Righteous', cursive;
    color: rgb(170, 223, 86);
    margin-bottom: 0;
}


h6{
    padding: 0px 30px 10px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size:smaller;
    color: rgb(255, 255, 255);
}
/*End of Header*/ 

/*Start of Footer*/
footer{
    background-color: #86c70f;
}

footer section h3{
    margin-top: 10px;
}
/*End of Footer*/ 

/*End of Home Page - Experiment Styles*/ 




